<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Parallels</title>
		<link rel="stylesheet" type="text/css" href="http://bootswatch.com/cerulean/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
		<body onload="">
			<div class="container-fluid">
				<div class="page-header">
					<h1 class="text-center">Parallels <small> real time yik yak sentiment visualization</small></h1>
				</div>
			</div>
			{% block index %}{% endblock %}
		</body>
	</html>